{{!-- 這份檔案是佈局樣式 --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>

  {{!-- 載入bootstrap的css檔案 --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/show.css">

  {{!-- 載入Font Awesome --}}
  <script src="https://kit.fontawesome.com/14ca8c92d1.js" crossorigin="anonymous"></script>
</head>

<body>

  {{!-- 局部樣版放在這邊 --}}
  {{{ body }}}

  {{!-- 載入bootstrap需要的popper檔案--}}
  <script src="/javascripts/popper.js"></script>
  {{!-- 載入bootstrap需要的javascript檔案 --}}
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>